<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://wwww.w3.org/ns/widgets"
id = "net.unaweb" version = "1.0.0">

<name>App Demo UnaWeb</name>

<description>
Diseño de Páginas Web y aplicaciones para móviles
</description>

<autor href="http://unaweb.net" email="webmaster@unaweb.net">
Carlos Palacios Macedo
</autor>

 <hook type="after_plugin_install" src="scripts/install_plugins.js" />

 <icon src="icon.png" />
 <icon src="icon.png" platform="ios" width="57" height="57" density="mdpi" />
   
  <platform name="android">
    <preference name="Fullscreen" value="true" />
	<preference name="orientation" value="portrait" />
    <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
  </platform>
  
    <platform name="ios">
    <preference name="Fullscreen" value="true" />
		<preference name="orientation" value="portrait" />
  </platform>
  
      <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
	  <preference name="DisallowOverscroll" value="true"/>
	  <preference name="phonegap-version" value="cli-6.3.0" />
	  
	<plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-geolocation" />
	<plugin name="cordova-plugin-whitelist" spec="~1" />
	<plugin name="cordova-plugin-inappbrowser"/>
	<plugin name="com.cordova.plugins.sms" spec="0.1.2" source="pgb" />
		
	<access origin="*" />
		
	<!-- agregados -->
	
<access origin="*" launch-external="yes" />
<access origin="http://unaweb.net/" />
<access origin="sms:*" launch-external="yes" />
<access origin="geo:*" launch-external="yes" />
<access origin="http://unaweb.net/*" launch-external="yes" />
<access origin="http://*" launch-external="yes" />
<access origin="https://*" launch-external="yes" />
<access origin="*" launch-external="yes" />
<allow-navigation href="*" />

<!-- fin agregados -->
	
	<plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	
	<!-- for iOS -->
<feature name="SocialSharing">
  <param name="ios-package" value="SocialSharing" />
</feature>

<!-- for Android (you will find one in res/xml) -->
<feature name="SocialSharing">
  <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
</feature>

<!-- for Windows Phone -->
<feature name="SocialSharing">
  <param name="wp-package" value="SocialSharing"/>
</feature>


   <!--
        Define a specific version of PhoneGap to build into your app.
        <preference name="phonegap-version"       value="3.5.0" />
		
    -->
	
</widget>	